body {
  margin: 0;
  padding: 0;
}

.App {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  font-family: 'Merriweather';
  font-size: 16px;
  background-image: url('./photography.png');
  min-height: 1000px;
/*  background: #A1FFCE;
  background: -webkit-linear-gradient(to top, #A1FFCE, #fff);
  background: linear-gradient(to top, #A1FFCE, #fff);*/
}

.navbar {
  background-color: white;
}